
@import '~bootstrap/scss/bootstrap';

body{
    background-color: rgb(1, 11, 63) ;
    color: plum;


}

.card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.card{
    width: 22rem;
    height: 35rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.118);
    margin-bottom: 5rem;
    padding: 1rem;
}

.card-show{
    width: 22rem;
    min-height: 35rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.118);
    margin-bottom: 5rem;
    padding: 1rem;
}

.card_type{
    width: calc(100% / 3);
    height: 20rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.118);
    margin-bottom: 5rem;
    padding: 1rem;
}

.card_technology{
    width: calc(100% / 3);
    height: 20rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.118);
    margin-bottom: 5rem;
    padding: 1rem;
}

.links{
    position: absolute;
    display: flex;
    top: 1rem;
    right: 1rem;
}



a {
    color: plum;
    margin: 0.2rem;
    padding: 0.5rem;
    text-decoration: none;
    background-color: rgba(193, 126, 255, 0.356);
    border-radius: 5rem;
}

p,
h4,
li{
    color: plum;

}

.img-container {

    margin: 0 auto;
    width: 25rem;
    box-shadow: 10px 10px 10px rgba(1, 29, 172, 0.193);
}

img {
    width: 20rem;
    height: 10rem;
}
.text-container{
    min-height: 15rem;
}
